RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

ErrorDocument 404 /404.php

Redirect 301 /build-timelapse https://vimeo.com/pooleyville/wikipavilion
Redirect 301 /radiant-house https://vimeo.com/pooleyville/radiant-house
Redirect 301 /turing-house https://vimeo.com/pooleyville/turing-house
Redirect 301 /riba-futurehouse https://vimeo.com/pooleyville/riba-house